@font-face {
    font-family: myFirstFont;
    src: url(Arsenal-Regular.otf);
}
#changer body
body  {
    margin: 0;
    font-size: 16px;
    font-family: myFirstFont;
    background: url(IMG_0163_30.JPG) no-repeat center fixed;
    background-size: cover;
}


#changer left_corps
.left_corps {
   background-color: #E7ECB8;
   opacity: 0.9;
   margin-bottom: 5px;
   padding: 10px 10px 10px 10px;
   border: 2px solid grey;
   border-radius: 10px 25px;
}
#changer left_col
.left_col {
   float:left;
   width:40%;
   background-color: #E7ECB8;
   padding: 10px 10px 10px 10px;
   opacity: 0.9;
   margin-bottom: 5px;
   border: 2px solid grey;
   border-radius: 10px 25px;
}

#changer right_col
.right_col {
   float:right;
   padding: 10px 50px 10px 20px;
   text-align: center;
}

.unique {
    background: url(IMG_5999_60.JPG) no-repeat center fixed ;
    background-size: cover;
}

.multiples  {
    background: url(IMG_0163_30.JPG) no-repeat center fixed;
    background-size: cover;
}












