{% load i18n %}
{% load static %}
<html>
<head>
    <title>Recettes Malijaï Caulet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'recette/recettes_css.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static '/recette/w3.css' %}">
    <link rel="stylesheet" media="print" type="text/css" href="{% static '/recette/print.css' %}">
</head>
<body class="unique">
<header class="w3-row" id="myHeader" style="background-color: #2D3B08;color: #ffffff;">
    <div class="w3-threequarter w3-padding">
        {% if recette.title %}
            <h2>{{recette.title}}</h2>
        {% else %}
            <h2>Recherche</h2>
{% endif %}
    </div>
    <div class="w3-quarter w3-center noprint">
        <div class="btn-group">
            <a href="{% url 'listerecettes' %}" class="button">Toutes les recettes </a>
            <a href="{% url 'chercherecette' %}" class="button">Recherche</a>
        </div>
    </div>
</header>
<div class="wrap">
    {% block instructions %}
        {% block ingrédients %}
        {% endblock ingrédients %}
        {% block photo %}
        {% endblock photo %}
    {% endblock instructions %}
    {% block recherche %}
    {% endblock recherche %}

</div>
<div class="footer noprint w3-bottom">
    <a href="https://github.com/Malijai/" class="date" ><img src="/static/images/GitHub-Mark-Light-32px.png"></a>
</div>
</body>
</html>
</html>


