{% extends 'baserecettes.html' %}
{% load i18n %}

<div class="page-header">
        <h1>Recettes</h1>
{% block content %}

    {% for recette in page.object_list %}
        <div class="post">
            <div class="date">
                 {{recette.contree.nom }} -
                {% for cat in recette.categorie.all %}
                {{cat.nom}} -
            {% endfor %}

            </div>
            <div class="point_col">
            <p>{% if recette.photo %}
                <a href="{% url 'view_recette' recette.id %}"><img class="img-circle" src="{{ recette.photo.url }}" width="50px" ></a>
            {% else %}
            <a href="{% url 'view_recette' recette.id %}"><span class="point"></span></a></p>
           {% endif  %}
            </div>
            <p class="nomrecette"><b>{{recette.title }}</b>
        <br />
            {{ recette.description }}</p>
        </div>
    {% endfor %}

      {% endblock %}

{% block pagination %}
<div class="pagination">
                <div class="pagination">
                    {% for p in page.paginator.pages %}
                        {% ifequal p page %}
                            <a class="active" href="">{{ page }}</a>
                        {% else %}
                            <a href="?page={{ p.number }}">{{ p }}</a>
                        {% endifequal %}
                    {% endfor %}
                </div>
</div>
 {% endblock %}

