{% load i18n %}
{% load static %}
<html>
    <head>
        <title>Recettes Malijaï</title>
        <link rel="stylesheet" href="{% static 'recette/style_recettes.css' %}">
    </head>
    <body>
        <div class="page-header">
            <div class="date">
                <div class="btn-group">
                   <a href="{% url 'listerecettes' %}" class="button">Toutes les recettes </a>
                   <a href="{% url 'chercherecette' %}" class="button">Recherche</a>
                </div>
            </div>
         <h1>Liste des recettes trouvées</h1>
        </div>
<div class="wrap">
  <div class="left_col">
    {% for recette in recettes %}
        <div class="post">
            <div class="date">
                 {{recette.contree.nom }} -
                {% for cat in recette.categorie.all %}
                {{cat.nom}} -
            {% endfor %}

            </div>
            <div class="point_col">
            <p>{% if recette.photo %}
                <a href="{% url 'view_recette' recette.id %}"><img class="img-circle" src="{{ recette.photo.url }}" width="50px" ></a>
            {% else %}
            <a href="{% url 'view_recette' recette.id %}"><span class="point"></span></a></p>
           {% endif  %}
            </div>
            <p class="nomrecette"><b>{{recette.title }}</b>
        <br />
            {{ recette.description }}</p>
        </div>
    {% endfor %}

  </div>
</div>
</body>
</html>

