{% extends 'baseunerecette.html' %}
{% load i18n %}
{% load formatenombre %}

{% block titre %}
<h2>{{recette.title }}</h2>
{% endblock %}

{% block instructions %}
    <div class="post">
        Pays ou région d'origine : {{recette.contree.nom }} -
        Préparation : {{ recette.preparation}} min; Cuisson : {{ recette.cuisson }} min
    </div>
    <div class="w3-row flex-container">
        <div class="textes w3-half w3-container">
        <h3>Ingrédients</h3>
        {% block ingrédients %}
            <ul>
            {% for ingredient in ingredients %}
                <li>{% if ingredient.dequoi != '-' %}
                    <b>{{ingredient.dequoi|default_if_none:"&nbsp;" }}</b>
                    {% endif %}
                {{ingredient.ingredient.nom|capfirst }}, {{ingredient.quantite.normalize}}
                {% if ingredient.unitee != '-' %}
                    {{ingredient.unitee|default_if_none:"&nbsp;" }}
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endblock ingrédients %}
        </div>
        {% block photo %}
        <div class="w3-half w3-right-align">
            {% if recette.photo %}
                <img class="img-grande" src="{{ recette.photo.url }}">
            {% endif %}
        </div>
         {% endblock photo %}
    </div>

        <div class="textes w3-row w3-padding">
        <h3>Instructions</h3>
            {{recette.instructions|safe }}
        </div>

{% endblock instructions %}

